.Ctmarkupl {
    background-image: url('../Image/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
    margin:10px;
  }
  /* Scroll div */

  .selectiondiv{
    height : 50px;
    width: 50%;
    display : flex;
    justify-content: space-around;
    background-color: #7f8b8b;
    border: 5px solid;
    margin-top: 3%;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 6px;
  }
  .selectBoxs{
    border-radius: 8px;
    font-size: auto;
  }
  .selectBoxs:hover{background: #dbd9d9;}
 
  .scroll {
    background-color: lightblue;
    width: 400px;
    height: 500px;
    overflow-y: scroll;
    overflow-x:visible;
    border-radius: 8px;
  }
  table{
    width: 100%;
    border-spacing: 50px;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  th ,td{
    font-size: 25px;
    border-color: #315858;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px ;
  }
  .row:hover {background-color: #a5a5a5;}
  .button {
    background-color: #4CAF50;
    border: 2px solid #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
    transition-duration: 0.4s;
  }
  .button {
    background-color: rgb(217, 247, 169); 
    color: black; 
    border: 2px solid #4CAF50;
    position: absolute;
    top: 85%;
    left: 80%;
  }
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  .center {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
    border: 3px solid #73AD21;
    padding: 10px;
  }
  input{
    font-size: 25px;
  }
  .input-field{
    font-size: 20px;
    background: #a5cccc;
    width: auto;
    border-radius: 8px;
  }