* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  min-height: 100vh;
  position: relative;
  display: flex;
  background:grey;
  background-size: cover;
  justify-content: center;
  align-items: center;
}