
.stdpanel{
    min-height: 100vh;
    background: url('../Image/l.jpg');
    display: flex;
    justify-content: center;
}

.notice {
    text-align: center;
    font-size: 1.5em;
    font-family: cursive;
    color: red;
    box-shadow: 0 0 10px white;
}

.linkbox {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 660px;
    border-radius: 10px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

.linkbox a {
    display: inline-flex;
    justify-content: center;
    margin-top: 2%;
    width: 250px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: .9em;
    font-family: cursive;
    text-decoration: none;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(80px);
    box-shadow: 0 5px 5px rgb(8, 255, 99);
}

.linkbox a:hover {
    background: white;
    color: green;
}